@import "../../variables";

.auth_container {
  padding: 10%;
  display: flex;
  align-items: center;
  justify-content: center;

  .auth_content {
    width: 500px;
    padding: 20px;
    background: #fff;

    h3 {
      font-size: 22px;
      color: $secondary-color;
      text-align: left;
      margin-bottom: 20px;
    }

    .auth_form {
      form {
        .form_group {
          display: flex;
          flex-direction: column;
          width: 100%;

          &.change_auth {
            p {
              margin-top: 10px;
              text-align: center;
              color: $primary-color;

              a {
                color: $secondary-color;
              }
            }
          }

          label {
            margin-bottom: 10px;
          }

          input {
            padding: 10px 20px;
            margin-bottom: 5px;
            border: 2px solid $text-color;
            border-radius: 5px;
            outline: none;
            font-weight: 500;
            color: $primary-color;
            letter-spacing: 1px;
          }
        }
      }
    }
  }
}
