@import "../../variables";

.acc_details {
  form {
    .form_group {
      display: flex;
      flex-direction: column;

      label {
        margin: 5px 0 5px 0;
      }
      input {
        width: 100%;
        padding: 10px 20px;
        border: 2px solid $primary-color;
        border-radius: 5px;
      }
    }
  }
}
