@import "../../variables";

.message_container {
  padding: 10px;
  background: #f1f1f1;
  margin-bottom: 10px;

  &.active {
    opacity: 0.7;
    text-decoration: line-through;
  }

  .message {
    span {
      color: $white-color;
      background: $secondary-color;
      padding: 5px 10px;
      border-radius: 8px;
      font-size: 14px;
      margin-right: 10px;
    }

    font-weight: 500;
    margin-bottom: 10px;
    line-height: 30px;
  }

  .mark_as_read {
    display: flex;
    align-items: center;

    button {
      padding: 5px 10px;
      border-radius: 8px;
      border: none;
      background: #9e6ea6;
      color: white;
      margin-right: 10px;
      cursor: pointer;
    }
  }
}
