@import "../../variables";

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
  letter-spacing: 1px;

  .logo {
    color: $primary-color;
    text-decoration: none;
    color: 28px;
    font-weight: bold;
  }

  ul {
    li {
      list-style-type: none;
      display: inline-block;
      padding: 10px 20px;

      a {
        color: $primary-color;
        text-decoration: none;
        font-weight: bold;
        font-size: 18px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    ul {
      display: none;
    }

    button {
      display: none;
    }
  }
}
