@import "../../variables";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,500;1,600&display=swap");

.sendMessage_container {
  .sendMessage_content {
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: center;

    form {
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      background: #fff;
      width: 100vw;
      padding: 20px;

      .row {
        width: 100%;
      }

      .form_group {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        label {
          margin-bottom: 10px;
        }

        input,
        textarea {
          width: 100%;
          padding: 10px 20px;
          font-weight: 500;
          font-size: 0.9rem;
          outline: 1px solid $text-color;
          border-radius: 3px;
          font-family: "Poppins", sans-serif;
        }

        select {
          outline: 1px solid $text-color;
          border-radius: 3px;
          padding: 10px 20px;
          width: 100%;
          font-size: 0.9rem;
        }
      }
    }
  }
}

@media screen and (min-width: 900px) {
  .sendMessage_container {
    .sendMessage_content {
      form {
        width: 500px;

        .row {
          display: flex;
          align-items: center;

          .form_group:nth-child(1) {
            margin-right: 20px;
          }
        }
      }
    }
  }
}
