@import "../../variables";

.loader_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .image {
    &.rotate {
      i {
        animation: rotate 1s infinite ease;
      }
    }

    i {
      font-size: 80px;
    }
  }
  .text {
    margin-top: 20px;
    text-align: center;
    h3 {
      font-size: 25px;
      font-weight: bold;
      color: $primary-color;
      margin-bottom: 10px;
    }

    p {
      font-size: 18px;
      color: $text-color;
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
